* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    flex-direction: column;
}

a {
    cursor: pointer;
}

div,
header,
main,
footer,
body {
    display: flex;
}

main {
    flex: 1 0 auto;
    height: auto;
}

header {
    width: 100%;
    background: #FFDE59;
    justify-content: center;
    align-items: center;
}

.header__container {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 7px 0;
}

.header__container input {
    max-width: 704px;
    width: 100%;
    height: 43px;
    background: #C4C4C4;
}

.header__container__logo {
    align-items: center;
}

.header__container__logo div {
    gap: 41px;
}

.header__container__logo p {
    margin-left: 55px;
}

.header__container img {
    /* width: 10px; */
}

footer {
    width: 100%;
    background: #131A35;
    justify-content: center;
}

.footer__container {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 7px 0;
}

.footer__container_logo {
    flex-direction: column;
    align-items: center;
}

.footer__container_logo div {
    gap: 42px;
    max-height: 26px;
}

.footer__container_logo div img {
    height: 100%;
}

.footer__container_logo p {
    font-size: 24px;
    line-height: 28px;
    color: #FFDE59;
    margin-top: 3px;
}

main {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 177px;
    margin-bottom: 146px;
}

.main__container {
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    gap: 148px;
}

.main__container__wrapper {
    flex-direction: column;
}

.main__container__cards {
    justify-content: space-between;
    margin-top: 48px;
}

.card {
    width: 250px;
    height: 180px;

    background: #131A35;
}

.main__container p {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:1440px) {
    .header__container {
        padding: 0 16px;
    }

    .footer__container {
        padding: 0 16px;
    }

    .main__container {
        padding: 0 16px;
    }
}